body{
  background-color: rgb(190, 219, 216);
}
a:link{
  color: rgb(53, 128, 121);
}
a:visited{
  color: rgb(53, 128, 121);
}
.button{
  background-color: rgb(53, 128, 121);
  color: rgb(253,219,221);
  width: 150px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
}
#wrapper{
  width: 2000px;
  margin: 0 auto;
  color: rgb(53, 128, 121);
  font-family: "noble", noble, sans-serif;
}
#header{
  background-color: rgb(255, 235, 221);
  height: 200px;
  width: 2000px;
  font-size: 50px;
  font-weight: bold;
  padding-top: 125px;
  padding-left: 20px;
}
.subheader{
  font-size: 25px;
  font-family: "noble", noble, sans-serif;
}
#leftnav{
  background-color: rgb(251, 193, 197);
  width: 250px;
  height: 1660px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  float: left;
  font-size: 40px;
}
#body{
  background-color: rgb(253,219,221);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  padding: 600px;
  font-size: 30px;
  float: left;
  text-align: center;
}
/*above is for the two citation pages, below is for the main page*/
.body{
  background-color: rgb(253,219,221);
  width: 900px;
  height: 900px;
  border-radius: 50%;
  padding: 400px;
  font-size: 30px;
  float: left;
  text-align: center;
}
.images{
  background-color: rgb(219, 254, 157);
  padding: 30px;
  margin-top: 40px;
  float: left;
}
img{
  height: 200px;
}
#footer{
  font-size: 30px;
  background-color: rgb(249, 164, 170);
  height: 40px;
  padding-top: 5px;
  position: relative;
  clear: both;
  bottom: auto;
}
